*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.container{

	height: 50%;
	align-items: center;
   display: flex;
   justify-content: center;
   padding: 10px;
}

.card-body{

  width: 210px;
  height: 370px;
  margin: 1rem ;
  border-radius:10px;
  border: 1px solid #ccc;
  position: relative;
  background: #fff;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}



.res-circle{
  width: 100px;
  height: 100px;
 position: relative;
 justify-content: center;
 align-items: center;
 left: 28%;
 margin-top: 4rem;
 margin-bottom: 1rem;
  border-radius: 50%;
  background-color: #E5E5E5;

}

.card{
  position: relative;
  align-items: center;
  text-align: center;
  padding: 10% 10%;
 
}


.circle-txt{
position: absolute;
  font-size: 4rem;
  width: 6rem;
  margin: 20px;
  text-align: center;
   font-size: 300;
 
}
.card-text{
  
  font-weight: 900;
  font-size: 1em;
  margin: 0;
  margin-top: 12px;
}
.italic{
  margin-top: 0;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.5;
  max-width: 400px;
  text-decoration: rgb(128, 165, 176);
}

.link{
  padding: 1rem;
  text-decoration: underline;
  color: rgb(40, 126, 97);
  margin-bottom: 3em ;
 
}
.custom-btn {
  width: 130PX;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
   padding: 13px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  
}

.btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
  
}
.btn-1:hover {
  text-decoration: none;
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.contact{
  display: none;
  width: 60vmin;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-top: 4rem;
  font-weight: bold ;
  font-size: 2vmin;
  position: relative;
  left: 45vh;
  top: 20%;
  cursor: pointer;
  border: 1px solid grey;
  background: linear-gradient(217deg, rgba(211, 197, 197, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(110, 145, 110, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(83, 83, 87, 0.8), rgba(0,0,255,0) 70.71%);
}
.list{
 margin-top: 25px;
 margin-left: 8rem;
}
.back-link{
  display: flex;
  position: relative;
  text-align: center;
  width: 15vmin;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
   padding-left: 5vmin;
   box-shadow:inset 2px 2px 2px 0px rgba(99, 55, 55, 0.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}
@media screen and (min-width: 52em) {
    .card-body {
        max-width: 52em;
    }
    .contact {
         background-color: olive;
         color: white;
         align-items: center;
        padding-left: 2em;
        overflow: hidden;
    }
}
@media screen and (max-width: 896px) {
  .contact {
         background-color: rgb(2, 0, 128);
         color: white;
         display: flex;
         align-items: center;
         position: relative;
         left:12px ;
    }
    .back-link{
      justify-content: center;
      text-align: center;
      margin: 0;
    }
  
*{
  margin: 0;
}
}

